<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Pending</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>